main {  
  margin: auto;
  margin-top: 40px;
  width: 70vw;
}

main a {
  color: black;
  font-size: 20px;
}

main a:hover {
  color: blueviolet;
}

main h1 {
  margin-bottom: 15px;
}

.new {
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid black;
  background-color: blueviolet;
  border-radius: 5px;
  width: 230px;
  text-align: center;
}

.new a {
  color: white;
}

.new:hover {
  background-color: black;
}

.new:hover a {
  color: blueviolet;
}

main li {
  padding-bottom: 5px;
}

main img {
  margin: 5px 0 15px 0;
}